<!DOCTYPE html>
<html dir="$i18n{textdirection}">
  <head>
    <meta charset="utf-8" />
    <title>$i18n{helloWorldTitle}</title>
    <link rel="stylesheet" href="hello_world.css" />
    <script src="chrome://resources/js/cr.js"></script>
    <script src="chrome://resources/js/load_time_data.js"></script>
    <script src="chrome://resources/js/util.js"></script>
    <script src="strings.js"></script>
    <script src="local_media_player.js"></script>
  </head>
  <body">
    <h1>$i18n{helloWorldTitle}</h1>
    <p id="welcome-message"></p>
  </body>
</html>
